.itemdetail {
  background-image: linear-gradient(to right bottom, darkgray, lightgrey),
    url("../../img/logo.jpg");
  border: 4px solid #0000ff;
}

.itemdetail_paragraph {
  font-size: 1.2rem;
}
.spinercontainer {
  height: 60rem;
  width: 80rem;
  align-items: center;
}
