.card {
  background-image: linear-gradient(to right bottom, darkgray, lightgrey);
  width: 23rem;
  margin: 1rem;
  max-height: 55rem;
  border-radius: 30px;
  border: 2px solid blue;
  box-shadow: 5px 5px 10px black;

  transition: transform 0.2s ease-in-out;
}
.cardstyle:hover {
  background-image: linear-gradient(
    to right bottom,
    rgb(54, 52, 52),
    rgb(85, 89, 220)
  );
  transform: scale(105%);
  color: lightblue;
}

.card__name {
  color: rgb(29, 29, 149);
  background-color: darkgray;
  border: 1px solid blue;
  border-radius: 10px;
}
.pricerow {
  align-items: center;
}
.pricetag {
  color: rgb(61, 49, 224);
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(128, 125, 125);
  border-radius: 500px;
  padding: 1.2rem;

  box-shadow: 1 1.5rem 4rem rgba(0, 0, 0, 0.311);
}
