.card {
  background-image: linear-gradient(to right bottom, darkgray, lightgrey);
  width: 23rem;
  margin: 1rem;
  max-height: 55rem;

  transition: transform 0.35s ease-in-out;
}
:hover {
  background-image: linear-gradient(to left top, black lightgrey);
}
.card__name {
  color: rgb(29, 29, 149);
  background-color: darkgray;
  border: 1px solid blue;
  border-radius: 10px;
}
.pricerow {
  align-items: center;
}
.pricetag {
  color: rgb(61, 49, 224);
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(128, 125, 125);
  border-radius: 500px;
  padding: 1.2rem;

  box-shadow: 1 1.5rem 4rem rgba(0, 0, 0, 0.311);
}
